<div class="w-full h-full relative">
  <i nz-icon nzType="rollback" nzTheme="outline" class="absolute top-3 left-10 text-4xl cursor-pointer shadow-md" (click)="turnBack()"></i>
  <div class="my-5 text-3xl text-center font-bold">Các loại thức uống</div>
  <div class="w-full h-full flex items-center justify-center">
    <div class="w-5/6">
      <nz-table #basicTable nzBordered [nzData]="DrinkArray" [nzPageSize]="3">
        <thead>
          <tr>
            <th>Ảnh</th>
            <th>Tên thức uống</th>
            <th>Mô tả</th>
            <th>Giá</th>
            <th>Loại</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let item of basicTable.data">
          <tr>
            <td class="w-28"><img class="w-28" src="{{ item.Image }}"></td>
            <td>{{ item.DrinkName }}</td>
            <td>{{ item.Description }}</td>
            <td>{{ item.Price }}</td>
            <td>{{ item.DrinkType }}</td>
            <td><a [routerLink]="['/drink/update-drink/', item.DrinkName]">Chỉnh sửa</a></td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
