<div *ngIf="active" class="relative w-full h-full">
  <ng-container>
    <nz-spin class="absolute top-1/2 left-1/2" [nzSpinning]="active" nzSimple [nzSize]="'large'"></nz-spin>
  </ng-container>
</div>
<div *ngIf="!active">
  <ng-container *ngTemplateOutlet="drink"></ng-container>
</div>

<ng-template #drink>
  <div class="w-full h-full relative">
    <i nz-icon nzType="rollback" nzTheme="outline" class="absolute top-3 left-10 text-4xl cursor-pointer text-gray-400 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 hover:text-black hover:border-none border-none" (click)="turnBack()"></i>
    <div class="my-5 text-3xl text-center font-bold">Các loại thức uống</div>
    <div class="w-full h-full flex items-center justify-center">
      <div class="w-5/6">
        <nz-table #basicTable nzBordered [nzData]="DrinkArray" [nzPageSize]="3">
          <thead>
            <tr>
              <th>Ảnh</th>
              <th>Tên thức uống</th>
              <th>Mô tả</th>
              <th>Giá</th>
              <th>Loại</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let item of basicTable.data">
            <tr>
              <td class="w-28"><img class="w-28" src="{{ item.Image }}"></td>
              <td>{{ item.DrinkName }}</td>
              <td>{{ item.Description }}</td>
              <td>{{ item.Price }}</td>
              <td>{{ item.DrinkType }}</td>
              <td><i class="text-xl cursor-pointer border-1 border-gray-100 rounded-md px-2 py-1 transition duration-500 ease-in-out bg-green-400 hover:bg-green-300 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:border-none border-none shadow-md" [routerLink]="['/drink/update-drink/', item.DrinkName]" nz-icon nzType="edit" nzTheme="outline"></i></td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>

</ng-template>
